body {
  color: rgb(255, 255, 255);
  text-align: center;
  flex-direction: column;
  background-color: rgb(61, 150, 53);
}
input {
  border-radius: 100px;
  width: 18%;
}
div {
  background-color: rgb(30, 10, 46);
}
input {
  text-align: center;
}

